@charset "UTF-8";

/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */

/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */

/****** Librairies ******/

/** Normalize **/
@import '../../../node_modules/normalize.scss/normalize.scss';
/**** UTILITAIRES ****/

/** Variables **/
@import 'utilitaires/variables';

/** Mixins **/
@import 'utilitaires/mixins';

/****** BASE ******/

/** Typographie **/
@import 'base/typo';
@import 'base/grille';
/** Hyperliens **/
@import 'base/hyperlien';

/** Boutons **/
@import 'base/bouton';

/****** MODULES ******/
html {
  height: 100%;
  background:white;
}
.conteneur-logo{
  display: flex;
  background-color: $bleuPale;
}
.logo{
    width: 221px;
    height: 136px;
    margin: 15px 10px 10px 10%;
    flex-shrink: 0;
  @media (max-width: 600px) {
    width: 155px;
    height: 96px;
  }
}


.formulaire {
  margin: 2em auto;
  max-width: 800px;
  position: relative;
  fieldset{
    @media (min-width: 600px) {
    background: white;
    border: 0 none;
    border-radius: 3px;
    //box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: relative;
    }

    legend{
      margin: 0;
      padding: 0;
      float: left;
      margin-bottom: .5em;
      width: 100%;
      font-family: $fontePrimaire;
      font-size: 24px;
      text-transform: uppercase;
      color: #2C3E50;
      &:after{
        content: "";
        display: block;
        width: 200px;
        border-bottom: 3px solid $jaune;
      }
    }
  }
 .bouton-action {
   width: 100px;
   font-weight: bold;
   border: 0 none;
   cursor: pointer;
   line-height: 1.15;
   text-align: center;
   border-radius: 4px;
   cursor: pointer;
   padding: 10px;
   margin: 10px 5px;
   text-decoration: none;
   font-size: 14.5px;
 }
  .soumettre{
    background: $rouge;
    color: white;
    &:hover{
      background-color: #C10604;
    }
  }
  .precedent{
    background-color: white;
    color:$rouge;
    border: 2px solid $rouge;
    &:hover{
      background-color: #FDDDDC;
    }
  }

 }




//empiler les formulaire un par dessus les autres

//form > fieldset:not(:first-of-type) {
//  display: none;
//}

.barreprogres{
  margin-bottom: 30px;
  overflow: hidden;
  text-align: center;
  /*CSS counters to number the steps*/
  counter-reset: step;
  li{
    list-style-type: none;
    font-family: Montserrat;
    color: black;
    text-transform: uppercase;
    font-size: 16px;
    width: 33.33%;
    float: left;
    position: relative;
    &:before{
      content: counter(step);
      counter-increment: step;
      width: 40px;
      line-height: 40px;
      display: block;
      font-size: 16px;
      color: #333;
      background: $jaune;
      border-radius: 50%;
      margin: 0 auto 5px auto;
    }
    &:after{
      content:'';
      width: 100%;
      height: 4px;
      background: $jaune;
      position: absolute;
      left: -50%;
      top: 20px;
      z-index: -1; /*put it behind the numbers*/
    }
    &:first-child:after{
      content: none;
    }
    &.active:before{
      background: $rouge;
      color: white;
    }
    &.active:after{
      background: $rouge;
      color: white;
    }
  }}
//conteneur nom mise en forme
.conteneur-nom{
  @media (min-width: 600px) {
    display: flex;
    flex-direction: row;
    .nom {
      margin-left: 1em;
    }
  }
}

.contour-champ{
  border: 1px solid #CFD3D4;
  border-radius: 4px;
  margin-top: 1em;
  padding: .5em;
}
.sous-titre-infos{
  line-height: 1;
  border-bottom:1px dashed #CFD3D4;
  //telecharger police et lier
}
.conteneur-expiration {
  position: relative;
  border: 1px solid #aaa;
  display: flex;
  width: 200px;
  justify-content: space-around;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  border-radius: 5px;
}

.conteneur-expiration:after {
  content: '/';
  position: absolute;
  left: 50%;
  margin-left: -4px;
  color: #aaa;
}

input.exp {
  float: left;
  border: 0;
  width: 30px;
  outline: none;
  appearance: none;
  font-size: 14px;
}
//changer la forme des champs input
.input-type-texte{
  height: 21px;
  //background-color: #F2F2F2;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.conteneur-icones i {
  font-size: 38px; /* Ajustez cette valeur selon la taille désirée */
}