@charset "UTF-8";

// Auteur: [Giselle Hessen]
// Description: [feuille de style pour formulaire de don enfant soleil]


// Importation de la bibliothèque Normalize.css
@import '../../../node_modules/normalize.scss/normalize.scss';

// Importation des fichiers utilitaires
@import 'utilitaires/variables'; // Variables SCSS
@import 'utilitaires/mixins';   // Mixins SCSS

// Styles de base
@import 'base/typo';        // Typographie de base
@import 'base/grille';      // Système de grille
@import 'base/hyperlien';   // Styles pour les liens
@import 'base/bouton';      // Styles pour les boutons

// Styles des modules
html {
  height: 100%;
  background: white;
}

.conteneur-logo {
  display: flex;
  background-color: $bleuPale;
}

.logo {
  width: 221px;
  height: 136px;
  margin: 15px 10px 10px 10%;
  flex-shrink: 0;

  @media (max-width: 600px) {
    width: 155px;
    height: 96px;
  }
}

// Formulaire
.formulaire {
  margin: 2em auto;
  max-width: 800px;

  fieldset {
    @media (min-width: 600px) {
      background: white;
      border: 0 none;
      border-radius: 3px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      padding: 20px 30px;
      box-sizing: border-box;
      width: 80%;
      margin: 0 10%;
      position: relative;
    }

    legend {
      margin: 0;
      padding: 0;
      float: left;
      margin-bottom: .5em;
      width: 100%;
      font-family: $fontePrimaire;
      font-size: 24px;
      text-transform: uppercase;
      color: #2C3E50;

      &:after {
        content: "";
        display: block;
        width: 200px;
        border-bottom: 3px solid $jaune;
      }
    }
  }

  // Styles pour les boutons d'action
  .bouton-action {
    width: 100px;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    line-height: 1.15;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
    text-decoration: none;
    font-size: 14.5px;
  }

  .soumettre {
    background: $rouge;
    color: white;

    &:hover {
      background-color: #C10604;
    }
  }

  .precedent {
    background-color: white;
    color: $rouge;
    border: 2px solid $rouge;

    &:hover {
      background-color: #FDDDDC;
    }
  }
}

// Barre de progression
.barreprogres {
  margin: 0 25px 30px auto;
  overflow: hidden;
  text-align: center;
  counter-reset: step;

  &.active {
    width: 100%;
    transition: width 0.5s ease;
  }

  li {
    list-style-type: none;
    font-family: $fontePrimaire;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    width: 33.33%;
    float: left;
    position: relative;

    @media (min-width: 600px) {
      font-size: 16px;
    }

    &:before {
      content: counter(step);
      counter-increment: step;
      width: 40px;
      line-height: 40px;
      display: block;
      font-size: 16px;
      color: #333;
      background: $jaune;
      border-radius: 50%;
      margin: 0 auto 10px auto;
    }

    &:after {
      content: '';
      width: 100%;
      height: 4px;
      background: $jaune;
      position: absolute;
      left: -50%;
      top: 20px;
      z-index: -1;
    }

    &:first-child:after {
      content: none;
    }

    &.active:before {
      background: $rouge;
      color: white;
    }

    &.active:after {
      background: $rouge;
      color: white;
    }
  }
}

// Conteneur pour le nom
.conteneur-nom {
  @media (min-width: 600px) {
    display: flex;
    flex-direction: row;

    .nom {
      margin-left: 1em;
    }
  }
}

// Styles pour les champs de formulaire
.contour-champ {
  border: 1px solid #CFD3D4;
  border-radius: 4px;
  margin-top: 1em;
  padding: .5em;
}

.sous-titre-infos {
  line-height: 1;
  border-bottom: 1px dashed #CFD3D4;
}

.conteneur-expiration {
  position: relative;
  border: 1px solid #aaa;
  display: flex;
  width: 200px;
  justify-content: space-around;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  border-radius: 5px;
}

.conteneur-expiration:after {
  content: '/';
  position: absolute;
  left: 50%;
  margin-left: -4px;
  color: #aaa;
}

input.exp {
  float: left;
  border: 0;
  width: 30px;
  outline: none;
  appearance: none;
  font-size: 14px;
}

// Styles pour les messages d'erreur
.formulaire__erreur {
  font-size: 0.9em;
  color: #D32F2F;
}

.formulaire__item--erreur {
  border: 1px solid #D32F2F;
}

// Marquage des étapes actives/complétées en vert
#progressbar li.active:before, #progressbar li.active:after {
  background: #ee0979;
  color: white;
}

// Conteneur des boutons
.conteneur_boutons {
  display: flex;
  flex-direction: row;

  @media (min-width: 600px) {
    margin-top: 1em;
    margin-left: 4.7em;
  }
}

// Masquer tous les fieldsets par défaut
fieldset {
  display: none;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

// Masquer le fieldset de l'étape actuelle
fieldset.etape-1 {
  display: block;
}
